<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/base.css' />
    <style>
      html {
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      #details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #details > .split-container {
        font-size: 20px;
      }
      img {
        opacity: 1;
        transition: opacity 0.5s;
        width: 50px;
        margin: 10px;
        float: right;
      }
      .hidden {
        opacity: 0;
      }
      .split-container {
        display: flex;
        position: relative;
      }
      .split-container > .item {
        flex: 1;
        margin: 5px;
      }
      .split-container > button {
        border: 1px solid;
        padding: 20px 0;
        font-size: 60px;
        background: white;
      }
      #currentTemp {
        font-size: 40px;
      }
      #sensors > div {
        padding: 3px;
      }
      .fill {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        pointer-events: none;
      }
      .temp {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-weight: bold;
      }
      .heat {
        color: red;
      }
      .cool {
        color: blue;
      }
    </style>

    <script>
      var g_state = {
        currentTemp: <%= currentTemp %>,
        mode: '<%= hvacMode %>',
        desiredHeat: <%= desiredHeat %>,
        desiredCool: <%= desiredCool %>,
        // TODO: There has to be a better to get JSON into this page.
        sensors: [
        <% for(var i = 0; i < sensors.length; i++) { %>
          {name: "<%= sensors[i].name %>", temp: <%= sensors[i].temp %>},
        <% } %>
        ],
      }


      var pendingRequest;

      function handleUpdateTemperatureComplete() {
        // TODO: Verify the data returned matches the local state of the page.
        spinner.classList.add('hidden');
      }

      function handleUpdateTemperatureError() {
        handleUpdateTemperatureComplete();
        alert('Update failed. Reload the page to be safe.');
      }

      function encodedValue(id) {
        // TODO: spaces as '+'
        return id + '=' + encodeURIComponent(g_state[id]);
      }

      function updateTemp(id, delta) {
        if (pendingRequest)
          pendingRequest.abort();

        spinner.classList.remove('hidden');

        g_state[id] = g_state[id] + delta;

        var data = encodedValue('desiredHeat') + '&' + encodedValue('desiredCool');

        pendingRequest = new XMLHttpRequest();
        pendingRequest.addEventListener('load', handleUpdateTemperatureComplete);
        pendingRequest.addEventListener('error', handleUpdateTemperatureError);
        pendingRequest.open("POST", "/thermostats/<%= thermostatId %>/sethold");
        pendingRequest.setRequestHeader('Content-Type','application/x-www-form-urlencoded')
        pendingRequest.send(data);

        applyState();
      }

      function sortByName(a, b) {
        if (a.name > b.name)
          return 1;
        if (a.name < b.name)
          return -1;
        return 0;
      }

      function applySensors(sensors) {
        var html = '';
        sensors.sort(sortByName).forEach(function(sensor) {
          html += '<div>' + sensor.name + ': ' + sensor.temp + '</div>';
        });
        document.getElementById('sensors').innerHTML = html;
      }

      function applyState() {
        Object.entries(g_state).forEach(function(entry) {
          var id = entry[0];
          if (id == 'sensors')
            applySensors(entry[1]);
          else
            document.getElementById(id).textContent = entry[1];
        });
      }

      window.addEventListener('DOMContentLoaded', applyState);
    </script>
  </head>

  <body>

    <div style="height: 0"><img id="spinner" class="hidden" src="/img/spinner.gif"></div>

    <div id="details">
      <div class="temp item" id="currentTemp"></div>
      <div class="split-container">
        <div class="item" id="sensors"></div>
        <div class="item" id="override">
          <div>Mode: <span id="mode"></span></div>
          <form method="POST" action="/thermostats/<%= thermostatId %>/resume">
            <button type="submit" <%= !isHold ? 'disabled' : ''%> data-loading-text="Loading...">resume</button>
          </form>
        </div>
      </div>
    </div>

    <div class="split-container">
      <div class="cool temp fill" id="desiredCool"></div>
      <button class="item" onclick="updateTemp('desiredCool', -1)">-</button>
      <button class="item" onclick="updateTemp('desiredCool', 1)">+</button>
    </div>

    <div class="split-container">
      <div class="heat temp fill" id="desiredHeat"></div>
      <button class="item" onclick="updateTemp('desiredHeat', -1)">-</button>
      <button class="item" onclick="updateTemp('desiredHeat', 1)">+</button>
    </div>

    <div class="nav">
      <a href="/">Ojubee</a>
      <% for(var i = 0; i < thermostats.length; i++) { %>
        <a href="/thermostats/<%= thermostats[i].thermostatId %>" <%= (thermostat.identifier == thermostats[i].thermostatId) ? 'class=current' : ''%>>
          <%= thermostats[i].name  %>
        </a>
      <% } %>
    </div>

  </body>
</html>
