<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/base.css' />
    <style>
      button {
        padding: 20px;
        border: 1px;
      }
      input {
        border: none;
      }
    </style>

    <script>
      var pendingRequest;

      function handleUpdateTemperatureComplete() {
      }

      function encodedValue(id) {
        // TODO: url encode if needed in future
        return id + '=' + document.getElementById(id).value;
      }

      function updateTemp(id, delta) {
        if (pendingRequest)
          pendingRequest.abort();

        var input = document.getElementById(id);
        input.value = parseInt(input.value, 10) + delta;

        var data = encodedValue('desiredHeat') + '&' + encodedValue('desiredCool');

        pendingRequest = new XMLHttpRequest();
        pendingRequest.addEventListener('load', handleUpdateTemperatureComplete);
        pendingRequest.open("POST", "/thermostats/<%= thermostatId %>/sethold");
        pendingRequest.setRequestHeader('Content-Type','application/x-www-form-urlencoded')
        pendingRequest.send(data);
      }
    </script>
  </head>

  <body>
    <div class="nav">
      <a href="/thermostats">Thermostats</a>
      <% for(var i = 0; i < thermostats.length; i++) { %>
        <a href="/thermostats/<%= thermostats[i].thermostatId %>"><%= thermostats[i].name  %></a>
      <% } %>
    </div>

    <h1><%= thermostat.name ? thermostat.name : thermostat.identifier %></h1>
		<div>
      <div>Current: <%= currentTemp %>&#186; F</div>
      <div>Mode: <%= hvacMode %></div>

      <form method="POST" action="/thermostats/<%= thermostatId %>/resume">
        <button type="submit" <%= !isHold ? 'disabled' : ''%> data-loading-text="Loading...">resume</button>
      </form>
    </div>

    <div>
      <div>Heat: <input id="desiredHeat" name="desiredHeat" readonly value="<%= desiredHeat %>" />&#186; F</div>
      <div>
        <button onclick="updateTemp('desiredHeat', -1)">-</button>
        <button onclick="updateTemp('desiredHeat', 1)">+</button>
      </div>
    </div>

    <div>
      <div>Cool: <input id="desiredCool" name="desiredCool" readonly value="<%= desiredCool %>" />&#186; F</div>
      <div>
        <button onclick="updateTemp('desiredCool', -1)">-</button>
        <button onclick="updateTemp('desiredCool', 1)">+</button>
      </div>
    </div>

  </body>
</html>
