<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/base.css' />
    <style>
      img {
        opacity: 1;
        transition: opacity 0.5s;
        width: 50px;
        margin: 10px;
        float: right;
      }
      .hidden {
        opacity: 0;
      }
      .button-container {
        display: flex;
        position: relative;
        max-width: 500px;
      }
      .button-container > button {
        flex: 1;
        margin: 5px;
        padding: 20px 0;
        border: 1px solid;
        background: white;
        font-size: 60px;
      }
      .fill {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        pointer-events: none;
      }
      .temp {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-weight: bold;
      }
      .heat {
        color: red;
      }
      .cool {
        color: blue;
      }
    </style>

    <script>
      var g_state = {
        currentTemp: <%= currentTemp %>,
        mode: '<%= hvacMode %>',
        desiredHeat: <%= desiredHeat %>,
        desiredCool: <%= desiredCool %>,
      }

      var pendingRequest;

      function handleUpdateTemperatureComplete() {
        // TODO: Verify the data returned matches the local state of the page.
        spinner.classList.add('hidden');
      }

      function handleUpdateTemperatureError() {
        handleUpdateTemperatureComplete();
        alert('Update failed. Reload the page to be safe.');
      }

      function encodedValue(id) {
        // TODO: spaces as '+'
        return id + '=' + encodeURIComponent(g_state[id]);
      }

      function updateTemp(id, delta) {
        if (pendingRequest)
          pendingRequest.abort();

        spinner.classList.remove('hidden');

        g_state[id] = g_state[id] + delta;

        var data = encodedValue('desiredHeat') + '&' + encodedValue('desiredCool');

        pendingRequest = new XMLHttpRequest();
        pendingRequest.addEventListener('load', handleUpdateTemperatureComplete);
        pendingRequest.addEventListener('error', handleUpdateTemperatureError);
        pendingRequest.open("POST", "/thermostats/<%= thermostatId %>/sethold");
        pendingRequest.setRequestHeader('Content-Type','application/x-www-form-urlencoded')
        pendingRequest.send(data);

        applyState();
      }

      function applyState() {
        Object.entries(g_state).forEach(function(entry) {
          document.getElementById(entry[0]).textContent = entry[1];
        });
      }

      window.addEventListener('DOMContentLoaded', applyState);
    </script>
  </head>

  <body>
    <div class="nav">
      <a href="/">Ojubee</a>
      <% for(var i = 0; i < thermostats.length; i++) { %>
        <a href="/thermostats/<%= thermostats[i].thermostatId %>" <%= (thermostat.identifier == thermostats[i].thermostatId) ? 'class=current' : ''%>>
          <%= thermostats[i].name  %>
        </a>
      <% } %>
    </div>

    <div class="button-container">
      <div class="cool temp fill"><span id="desiredCool"></span>&#186; F</div>
      <button onclick="updateTemp('desiredCool', -1)">-</button>
      <button onclick="updateTemp('desiredCool', 1)">+</button>
    </div>

    <div class="temp"><span id="currentTemp"></span>&#186; F</div>

    <div class="button-container">
      <div class="heat temp fill"><span id="desiredHeat"></span>&#186; F</div>
      <button onclick="updateTemp('desiredHeat', -1)">-</button>
      <button onclick="updateTemp('desiredHeat', 1)">+</button>
    </div>

    <img id="spinner" class="hidden" src="/img/spinner.gif">

    <div>Mode: <span id="mode"></span></div>
    <form method="POST" action="/thermostats/<%= thermostatId %>/resume">
      <button type="submit" <%= !isHold ? 'disabled' : ''%> data-loading-text="Loading...">resume</button>
    </form>

  </body>
</html>
